* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing:border-box; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
}

body{
    background-color: rgba(255, 255, 255, 0.438);
}

header{
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10pc;
    width: 100%;
    color: white;
}



nav{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;

}

#menu{
    width: 20pc;
}
#menu ul {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-decoration: none;
    list-style: none;
}


#menu ul li {
    display: flex;
    gap: 2pc;
}
#menu ul li a {
    
    color: white;
    text-decoration: none;
    list-style: none;
}



/* POP UP  */
.popUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 243, 228, 0.849);
    border:2px solid black;
    border-radius: 20px;
    padding: 10px;
    z-index: 1;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.popUpOn {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
}

.imagePop {
    width: 250px;
    height: 250px;
}

#btnClose {
    cursor: pointer;
    width: 5pc;
    height: 2pc;
    border: none;
    border-radius: 20px;
    font-size: 24px;
}

#btnClose:hover {
    background-color:#6c459e ;
    
}



/* SECTION PRINCIPAL- primer cuadro grande   */

#nombre-tu-ciudad{
    font-weight: bold;
}
#principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 100px auto 0; */
    margin: 4pc;
    height: 30pc;
    padding: 2pc 8pc;
    border-radius: 3rem;  
    background-image: url('https://www.usnews.com/dims4/USNEWS/5fa667a/2147483647/thumbnail/970x647/quality/85/?url=http://media.beam.usnews.com/dd/3f/5db273244a19916454cfe158a0d2/1-intro-stock.jpg  ');
    /* background-image: url('images/aurora-boreal.jpg');  */
    /* Reemplaza 'ruta-de-la-imagen.jpg' con la ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el div */
    background-position: center; /* Centra la imagen dentro del div */
}

.card-principal{
    width: 70%;
    max-width: 250px;
    background-image: linear-gradient(135deg, #167c5a, #6c459e); 
    box-shadow: 3px 3px 5px black;
    color: white;
    border-radius: 20px;
    padding: 35px 30px;
    text-align: center;
}

#weather-icon{
    width: 200px;
    height: 100px;
}

.buscador{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buscador input {
    
    border:2px solid black;
    background-color: rgba(255, 243, 228, 0.849);
    color:#555;
    padding:10px 25px;
    height: 60px;
    border-radius: 30px;
    flex:1;
    margin-right: 16px;
    font-size: 18px;
    cursor: pointer;
}

.buscador button{
    border:2px solid black;
    background-color: rgba(255, 243, 228, 0.849);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;

}
.buscador button img{
    width: 16px;
}

/* barranquilla  */
#nombre-tu-ciudad{
    color:white;
    font-size: 50px;
}

.date-info{
    display: flex;
    color: white;
    align-items: center;
    width: 100%;
    font-size: 20px;
    justify-content: space-around;
}


.info-principal{
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.tipo-de-clima{
    display: flex;
    align-items: center;
    gap:1pc;
}
.tipo-de-clima img{
    width: 30px;
    height: 30px;
    background-color: #168b64;
    padding: 5px;
}

#humidity-text, #wind-text{
    color: #333;
}

/* CUADRO PEQUEÑO EXPLICANDO ESPECIFICACIONES DE HUMEDAD Y WIND */
.cuadro-tipos-de-clima{
    background-color: rgba(255, 243, 228, 0.849);
    border-radius: 3rem;
    padding: 1pc 0.5pc;
    display: grid;
    grid-template-columns:  repeat(2,1fr);
    row-gap: 15px; /* Espacio entre las filas */
    place-items: center;
}


/* poner root en display grid  */
#root{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-radius: 0.3rem;
    margin: 80px;
    padding: 50px;
    gap: 50px; 
    align-items: center; 
    justify-items: center; 

}




/* CARD CREATED IN JS*/

.card{
    width: 100%;
    max-width: 350px;
    background-color: #5b548a;
    color: white;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 5px black;
    position: relative;
    /* para luego poner un position absolute */
    
}

#description{
    font-weight: bolder;
    font-size: 1.5pc;
}

.card2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.card2 p{
    font-weight: bold;
    font-size: 2pc;
}
.btn-delete{
    display: none;
    /* opacity: 0; */
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding: 10px 20px; */
    /* background-color: #007bff; */
    
    cursor: pointer;
}

.card:hover {
    
    background-color: #167c5a;
    transform: scale(1.05);
    
}

.card:hover .btn-delete {
    display:block ;
    /* opacity: 1; */
}

.card h1{
    font-size: 30px;
}





/* RESPONSIVE */

@media screen and (max-width: 1303px) {
    #root {
        grid-template-columns: repeat(2, 1fr); /* Cambiar a 2 columnas */
    }
    .card{
        max-width: 250px;  
    }
    .cuadro-tipos-de-clima{
        display: block;
        gap: 20px;
        padding: 1pc;
    }

    .card2{
        display: flex;
        flex-direction: column;
    }

    .info-adicional{
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width: 750px) {
    #menu{
        display: none;
    }

    .weather #feelslike{
        display: none;
    }
}

@media screen and (max-width: 822px) {

    #root {
        grid-template-columns: repeat(1, 1fr); /* Cambiar a 2 columnas */
        place-content: center;
    }
    #principal{
        flex-direction: column;
    }

    .date-info{
        display: flex;
        flex-direction: column;
    }

    #nombre-tu-ciudad{
        font-size: 20px;
    }
    .cuadro-tipos-de-clima{
        display: none;
    }
    .card-principal{
        height: 15pc;
        width: 200px;
        display: flex;
        justify-content: center;
    } 
    .buscador{
        flex-direction: column;
        gap: 20px;
    }
}



